<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Northeastern Univeristy</li>
    <li>Khoury College of Computer Sciences</li>
    <li>Boston, USA</li>
    <!-- <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li> -->
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 617 651 7443</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a
        href="mailto:rajani.y@northeastern.edu">rajani.y@northeastern.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a
        href="http://yug-rajani.github.io">yug-rajani.github.io</a></li>
  </ul>
</div>